$blue-accent: #5d9bff;

.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  background: #fafafa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  //additional 1dvh for background for border radius
  height: 61dvh;
  width: 100vw;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 40dvh;
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 -2px 16px rgba(0,0,0,0.08);
  transition: height 0.4s cubic-bezier(.4,0,.2,1);
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: flex-end;
}

.footer.open {
  height: 95dvh;
  cursor: default;
  transition: height 0.4s cubic-bezier(.4,0,.2,1);

  .description {
    overflow-y: auto;
  }
}

.footerContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  line-height: 1.4;
  font-weight: 300;
  font-size: 14px;
}

.title {
  width: fit-content;
  padding: 0 30px;
  margin: 40px 0 31px 0;

  &::after {
    content: "";
    display: block;
    height: 2px;
    background: $blue-accent;
    width: 100%;
    margin: 0 auto;
    margin-top: 6px;
    border-radius: 2px;
  }
}

.description {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  color: #222;
  line-height: 1.6;
  padding: 0 30px;
  
  .blockContent {
    margin: 0;
    transition: .3s ease-in-out;
  }
}

.descriptionImageWrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.caption {
  font-size: 10px;
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;
  background: $blue-accent;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -1.5rem;
    right: 1rem;
    border-radius: 50%;
    background: #fff;
    color: $blue-accent;
    font-size: 1.5rem;
    border: 5px solid white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.backButton {
    position: absolute;
    left: 12px;
    top: 12px;
    border: 0;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 1.2rem;
}

.point {
  position: absolute;
  width: 28px;
  height: 28px;
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0.85;
  box-shadow: 0px 0px 10px 1px rgb(66, 68, 90);

  .filler {
    min-width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff914d;
    border-radius: 50%;

    color: #fff;
  }
}

.activePointDescription {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;
  margin: 0;
}

.contentWrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}

.drawer {
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  background: #fff;
  box-shadow: -4px 0 24px rgba(0,0,0,0.13);
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  animation: slideInDrawer 0.3s cubic-bezier(.4,0,.2,1);

  .drawerContent {
    padding: 0 30px 40px 30px;
    max-width: 100dvw;

    h3 {
      font-size: 23px;
    }
  }
}

.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeDrawer {
    height: 3rem;
    background: transparent;
    border: 0;
    font-size: 2rem;
    color: $blue-accent;
}

@keyframes slideInDrawer {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}